<launch>
	<param name="robot_description" command="$(find xacro)/xacro $(find covid_tf)/urdf/old_person.urdf" />
	<arg name="gui" value="true"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
		<param name="joint_state_publisher_gui" value="$(arg gui)"/>
	</node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	
	<node name="pangolin" pkg="covid_tf" type="pangolin.py"/> 
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find covid_tf)/launch/covid.rviz"/>
</launch>
